.cart-content {
    padding: 5%;
}

.div-transition {
    /* opacity: 0; */
    background-color: rgb(146, 146, 146);
    transform: scale(0.9);
    border-radius: 15px;
    padding: 3%;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
    color: #ffffff;
}

.div-transition-text {
    /* opacity: 0; */
    transform: scale(0.9);
    border-radius: 15px;
    padding: 3%;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(146, 146, 146);
}

.div-transition.active {
    /* opacity: 1; */
    background-color: #519EA4;
    transform: scale(1);
    font-weight: bold;
    font-size: 1.1vw;
}

.div-transition {
    transition: all 0.5s ease;
}

.step-div {
    transition: all 0.5s ease-out;
}

.steps-content {
    position:relative;
    padding: 5%;
}

.step-div {
    opacity: 0;
    position: absolute;
    text-align: center;
}

.step-div.active {
    opacity: 1;
    position: relative;
    /* text-align: center; */
}

.steps-bar {
    position: relative;
    display: grid;
    grid-template-columns: [line1] 22% [line2] 5% [line3] 22% [line4] 5% [line5] 22% [line6] 5% [line7] 22% ;
    grid-template-rows: [row1] auto;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    position: sticky;
    top:50px;
    background-color: #ffffff;
}

.first-step-bar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
}

.second-step-bar {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
}

.third-step-bar {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
}

.fourth-step-bar {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
}


/* ---------------------------- Carrito de Compras ---------------------------- */

.step-cart {
    display: grid;
    grid-template-columns: [col-cart-1] 60% [col-cart-2] 40% ;
    grid-template-rows: [row-cart-1] auto [row-cart-1] auto ;
    text-align: left;
}

.step-cart div {
    margin: 1%;
}

.cart-info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 96%;
    height: 96%;
    display: flex;
    align-items: center;
}

.cart-products {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 96%;
    height: 96%;
}

.cart-summary {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 96%;
    height: 96%;
    position: sticky;
    top: 0;
}

.purchase {
    display: grid;
    grid-template-columns: [col-pur-1] 30% [col-pur-2] 45% [col-pur-3] 25% ;
    grid-template-rows: [row-pur-1] auto;
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
}

.purchase div {
    margin: 10%;
}

.purchase-img-div {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #ffffff;
    border-radius: 15px;
    position: relative;
}

.purchase-img-div img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
    width: 100%;
    max-height: 100px;
    max-width: 150px;
    object-fit: contain;
}

.prod-amount {
    position: absolute;
    right: -5%;
    top: 30%;
    background-color: #519EA4;
    color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
}

.prod-amount p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.purchase-info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.purchase-info p {
    text-align: right;
    font-weight: bolder;
    color: black;
    font-size: large;
}

.purchase-btns-div {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: inline-flex;
}

.purchase-btns-div button{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.purchase-btns-div p {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.add-remove-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(151, 151, 151);
}

.cart-summary {
    border-style: solid;
    border-width: 3px;
    border-color: #519EA4;
    border-radius: 15px;
}

.cart-summary h1 {
    text-align: center;
    margin-top: 10%;
}

.summary-table {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 10%;
}

.buttonShopping {
    background-clip: padding-box;
    background-color: var(--bg-color-shop);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    object-fit: contain;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    /* max-width: 300px; */
}

.buttonShopping:hover,
.buttonShopping:focus {
    background-color: var(--bg-color-hover);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.buttonShopping:hover {
    transform: translateY(-1px);
}
  
.buttonShopping:active {
    background-color: var(--bg-color-active);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.buttonShopping:disabled {
    background-color: #9b9b9b;
}

/* ------------- Detalles de Entrega ------------- */

.delivery-title {
    padding: 2%;
    background-color: #F5F5F5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.delivery-data {
    padding: 2%;
    background-color: #F5F5F5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.delivery-table {
    background-color: #F5F5F5;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
