.icheckoutStep__wrapper {
    display: grid;
    place-content: center;
    height: 100vh;
  }

  .checkoutStep__container {
    text-align: center;
  }

  .checkoutStep__img-chekout {
      width: 100%;
    height: auto;
  }

  .checkoutStep__content {
    margin-bottom: 3rem;
  }

  .checkoutStep__content h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #519EA4;
    margin-bottom: 1rem;
  }

  .checkoutStep__content p {
    font-size: 1.25rem;
    font-weight: 400;
    color: #0b132b;
    margin: 0 auto;
  }

  .checkoutStep__btn {
    background-color: #519EA4;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
  }