@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --color-white: #fff;
  --color-gray: #9C9C9F;
  --color-gray-light: #d4d4d4c5;
  --color-content-method: #d9d9d976;
  --color-black: #000;
  --color-black-light: #313131;
  --color-orange: #FF4200;
  --color-blue: #081856;
  --color-blue-light: #519ea47a;
  --color-blue-green: #519ea4;
  --font: 'Inter', sans-serif;
}

body {
  font-family: var(--font);
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-black-light);
}

button {
  border: none;
  outline: none;
  cursor: pointer
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;

  max-width: 1200px;
  margin-inline: auto;
  padding-top: 20px;
}

/* Metodo de pago */

.credict-or-debite-card,
.content-product {
  width: 100%;
  background-color: var(--color-content-method);
  box-shadow: 0 0 5px rgb(227, 226, 226);
  padding: 15px 20px;
  border-radius: 10px;
}

.payment-method {
  border-bottom: 1px solid var(--color-gray);
 padding-bottom: 10px;
}

.center {
  width: 95%;
  margin-inline: auto;
}

.card-master {
  width: 55%;
  padding: 10px;
  background-color: #D9D9D9;
  border-radius: 10px;
  text-align: center;
  margin: 15px 0;
}

.icon-mastercard {
  font-size: 30px;
  vertical-align: middle;
  margin-left: 10px;
}

/* Formulario */

.my-form ul {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.my-form li {
  border-bottom: 1px solid var(--color-gray);
  margin-top: 20px;
  margin-right: 10px;
}

.my-form li:first-child {
  width: 100%;
}

.my-form li:nth-child(2),
.my-form li:nth-child(3),
.my-form li:nth-child(4) {
  width: 31%;
  margin-right: 17px;
}

.my-form li:nth-child(4){
  margin-right: 0;
}

.my-form li:last-child{
  border: 0;
}

.my-form label {
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
  cursor: pointer;
}

.my-form b {
  color: red;
  margin-left: 5px;
}

label.not-block {
  display: initial;
  margin-right: 10px;
  vertical-align: middle;
}

label.check {
  margin-left: 10px;
}

.my-form input {
  border: 0;
  background: 0;
  outline: 0;

  padding: 5px 0;
}

input.check-input,
.icon-help {
  vertical-align: middle;
}

::placeholder {
  font-size: 13px;
}

/* Crear los productos */
.product {
  margin: 25px 0;
}

.content-count {
 display: flex;
 justify-content: space-between;
 align-items: center;

 border-bottom: 1px solid var(--color-gray);
 padding-bottom: 10px;
}

.count-product {
  padding: 5px;
  background-color: #519ea4;
  border-radius: 10px;
  color: #fff;
}

.edit a{
  color: #519ea4;
  font-weight: bold;
}

.card {
  display: grid;
  grid-template-columns: 70% auto;
  margin-bottom: 20px;
}

.card:last-child {
  margin-bottom: 0;
}

/* Imagen del producto */

.image {
  width: 150px;
  height: 100%;

  display: grid;
  place-items: center;

  position: relative;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.count {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  background-color: #519ea4;
  color: #fff;
  padding: 2px;

  position: absolute;
  right: 0;
  bottom: 0;
}

/* Informacion del producto */

.information {
  display: flex;
  align-items: center;
  gap: 15px;
}

.information-description h3, 
.gender {
  text-transform: uppercase;
}

.gender {
  font-size: 13px;
}

.information-description h3 {
  letter-spacing: 1px;
}

.information-description span {
  display: block;
}

.size span:last-child {
  padding: 0 10px;
  background-color: #D9D9D9;
  border-radius: 5px;
  font-weight: bold;
}

/* Talle */

.size {
  margin-top: 10px;
}

.size span {
  display: inline;
  margin-right: 10px;
}

.information-description select {
  padding: 5px 10px;
  background-color: var(--color-gray);
  color: var(--color-white);
  border-radius: 10px;
  cursor: pointer;
}

/* Precio */

.price {
  align-self: center;

  margin-inline: auto;
  font-size: 20px;
  font-weight: bold;
}

/*Tabla de precios */

.total-pay table {
  width: 100%;
  border-collapse: collapse;
}

.total-pay td, 
.total-pay th {
  padding: 8px;
}

tr {
  border-top: 1px solid var(--color-gray);
  text-align: center;
}

tr:nth-child(2) {
  border-top: none;
}