.banner-carousel-container {
    position: relative;
    width: 100%;
    height: 350px; /* ajustamos la altura del contenedor */
    overflow: hidden;
  }
  
  .banner-carousel {
    position: relative;
    white-space: nowrap;
    transition: transform 0.5s ease-out;
    height: 100%; /* agregamos una altura al carrusel */
  }
  
  .banner-image {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  
  .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .banner-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.5rem;
  }
  
  .banner-image.active {
    transform: translateX(0);
  }
  
  .banner-image:not(.active) {
    position: absolute;
    left: -9999px;
  }
  
  /* estilos para los botones del carrusel */
  .banner-carousel-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1; /* agregamos un z-index para que estén por encima de las imágenes */
  }
  
  .prev-button{
    right: 10px;
    margin-right: 10px; /* agregamos un margen para separar los botones */
  }
  
  .next-button {
    left: 10px;
    margin-right: 10px; /* agregamos un margen para separar los botones */
  }
  .next-button:hover {
    color: black;
  }                         


    .banner-carousel-container button.view-products {
        position: absolute;
        bottom: 200px;
        left: 150px;
        height: 40px;
        width: auto;
        transform: translateX(-50%);
        background-color: #FC4B08;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 2;
        
    }
    
  