@import "src/styles/base";

.module {
  position: fixed;
  width: 100%;
  height: 100%;
}

.input {
  position: relative !important;
  width: 100% !important;

  &__label {
      position: absolute !important;
      padding: 0 5px !important;
      left: 10px !important;
      top: 10px !important;
      transform: translate(0, 0) !important;
      transform-origin: 0 0 !important;
      background: white !important;
      transition: transform 120ms ease-in !important;
      line-height: 1.2 !important;
      cursor: text !important;
      font-weight: 500 !important;
      font-size: medium !important;
  }

  &__field {
      font-weight: 200 !important;
      font-size: medium !important;
      box-sizing: border-box !important;
      display: block !important;
      width: 100% !important;
      padding: 10px 15px !important;
      background: transparent !important;
      &:focus, &:not(:placeholder-shown) {
          & + .input__label {
              transform: translate(.30rem, -120%) scale(.85) !important;
              color: black !important;
          }
      }

  }


}
