/* History container */
.history-container {
    display: grid;
    grid-template-columns: [line1] 25% [line2] 25% [line3] 25% [line-4] 25% ;
    grid-template-rows: [row1] auto [row2] auto;
    padding: 2%;
}

.history-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: inline-flex;
}

.history-title h1 {
    padding-right: 3%;
}

.history-search {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.history-filter {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.history-cart {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.history-cart div {
    margin: 3%;
    /* padding: 1%; */
}

.history-shipping {
    display: grid;
    grid-template-columns: [lineShip1] 33% [lineShip2] 25% [lineShip3] 25% [lineShip4] 17%;
    grid-template-rows: [rowShip1] auto;
    padding: 1%;
    border-radius: 1rem;
    background-color: #F1F1F1;
}

.history-shipping-purchases {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #ffffff;
    border-radius: 1rem;
}

.purchase-products {
    display: grid;
    grid-template-columns: [linePur1] 40% [linePur2] 60%;
    grid-template-rows: [rowPur1] auto;
}

.purchase-products-img-div {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
}

.purchase-products-img {
    margin: 5%;
    height: 100%;
    width: 100%;
    max-height: 100px;
    max-width: 100px;
    object-fit: contain;
}

.purchase-products-info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.history-shipping-order {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 1rem;
    background-color: #DEDEDE;
    padding: 5%;
}

.history-shipping-order h3 {
    text-align:center;
}

.history-shipping-order table {
    margin: 5%;
    font-size: 1vw;
}


.history-shipping-shipment {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 1rem;
    background-color: #DEDEDE;
    padding: 5%;
}

.history-shipping-shipment h3{
    text-align:center;
}

.history-shipping-shipment table{
    margin: 5%;
}

.history-shipping-shipment table td{
    font-size: 1vw;
    vertical-align: top;
}

.history-shipping-buttons {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.history-shipping-buttons svg {
    margin: auto;
    /* margin-right: 3vw; */
}

.history-shipping-buttons button {
    background-clip: padding-box;
    background-color: var(--bg-color-shop);
    border: 1px solid transparent;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: auto;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    transition: all 250ms;
    touch-action: manipulation;
    vertical-align: baseline;
    object-fit: contain;
    width: 90%;
    max-width: 300px;
  }
  
  .history-shipping-buttons button:hover,
  .history-shipping-buttons button:focus {
    background-color: var(--bg-color-hover);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .history-shipping-buttons button:hover {
    transform: translateY(-1px);
  }
  
  .history-shipping-buttons button:active {
    background-color: var(--bg-color-active);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }